{% extends 'pos/base.html' %}
{% load static %}

{% block title %}Shop{% endblock %}

{% block js %}
{#<script src="{% static 'js/jquery-3.4.1.js' %}"></script>#}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
       const user_input = $("#query")
const search_icon = $('#search-icon')
const artists_div = $('#search-results')
const endpoint = '{% url "pos:search_product" %}'
const delay_by_in_ms = 700
let scheduled_function = false

let ajax_call = function (endpoint, request_parameters) {
	$.getJSON(endpoint, request_parameters)
		.done(response => {
			// fade out the artists_div, then:
			artists_div.fadeTo('slow', 0).promise().then(() => {
				// replace the HTML contents
				artists_div.html(response['html_from_view'])
				// fade-in the div with new contents
				artists_div.fadeTo('slow', 1)
				// stop animating search icon
				search_icon.removeClass('blink')
			})
		})
}


user_input.on('keyup', function () {

	const request_parameters = {
		q: $(this).val() // value of user_input: the HTML element with ID user-input
	}

	// start animating the search icon with the CSS class
	search_icon.addClass('blink')

	// if scheduled_function is NOT false, cancel the execution of the function
	if (scheduled_function) {
		clearTimeout(scheduled_function)
	}

	// setTimeout returns the ID of the function to be executed
	scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
})

    </script>
{% endblock %}


{% block products %}
    <input autofocus="autofocus" class="mt-3 form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" id="query" name="query">
    <hr class="mt-lg-5">
    <div id="search-results" class="p-lg-3">
    <h4 class="alert alert-info">Start searching for products</h4>
    </div>
    {% block detail %}
    {% endblock %}
{% endblock %}

